body {
    font-family: 'Segoe UI', sans-serif;
    background: #f5f6fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

img {
    width: 150px;
    border-radius: 50%;
}

h1 {
    color: #2c3e50;
}

h2 {
    margin-top: 30px;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px 18px;
    font-size: 16px;
    cursor: pointer;
 
    border-radius: 6px;
}
a button {
    padding: 10px 20px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

a button:hover {
    background-color: #1d4ed8;
}
